@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap');

$color_1: #292929;
$color_2: #2B2D42;
$color_3: #D10024;
$color_4: #FFF;
$color_5: #8D99AE;
$color_6: #fff;
$color_7: #E4E7ED;
$color_8: #ef233c;
$color_9: #B9BABC;
$color_10: #15161D;
$color_11: #656565;
$black: #000;
$gray: #ECECEC;
$text-gray: #9D9DA7;
$font-family_1: 'Oxygen', sans-serif;
$font-family_2: 'FontAwesome';
$background-color_1: #003462; 
$background-color_2: #FBFBFB;
$background-color_3: #E4E7ED;
$background-color_4: #1E1F29;
$background-color_5: #003462;
$background-color_6: #1e1f29;
$background-color_7: transparent;
$background-color_8: #fff; 
$background-color_9: #ef233c;
$border-color_1: #D2D2D2; 
$border-color_2: #9D9DA7;

$sidebar-bg: #FBFFFB;
$special-offer-clr: #ECF6FF;

//popup colors
$bg1: #003462;

