@import "colors.scss";

@media only screen and (max-width: 991px) {
	.header-ctn {
		.menu-toggle {
			display: inline-block;
		}
	}
	#responsive-nav {
		position: fixed;
		left: 0;
		top: 0;
		background: #15161D;
		height: 100vh;
		max-width: 250px;
		width: 0%;
		overflow: hidden;
		z-index: 22;
		padding-top: 60px;
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: 0.2s all;
		transition: 0.2s all;
	}
	#responsive-nav.active {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
		width: 100%;
	}
	.main-nav {
		margin: 0px;
		float: none;
		>li {
			display: block;
			float: none;
			>a {
				padding: 15px;
				color: $color_4;
			}
		}
		>li+li {
			margin-left: 0px;
		}
	}
	#top-header {
		.header-links.pull-left {
			float: none !important;
		}
		.header-links.pull-right {
			float: none !important;
			margin-top: 5px;
		}
	}
	.header-logo {
		float: none;
		text-align: center;
		.logo {
			display: inline-block;
		}
	}
	#product-imgs {
		margin-bottom: 60px;
		margin-top: 15px;
	}
	#rating {
		text-align: center;
	}
	#reviews {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.section-title {
		.section-nav {
			float: none;
			margin-top: 10px;
		}
	}
	.section-tab-nav {
		li {
			margin-top: 10px;
		}
	}
}
@media only screen and (max-width: 480px) {
	[class*='col-xs'] {
		width: 100%;
	}
	.store-grid {
		float: none;
		margin-top: 10px;
	}
	.store-pagination {
		float: none;
		margin-top: 10px;
	}
}
